body {
/*background-color: #747273;*/
background-image: url(../image/12.jpg);
background-size: 100%;
}
header{
	/*width: 100%;*/
	height: 100px;
	/*border: 2px solid green;*/
	/*background-color: #696969;*/
	background: linear-gradient (to bottom, #DEB887, #696969);
	}

	/*header.logo {
	background-image: url(../image/v.png);
	width: 50px;
	height: 50px;
	top: 5px;
	float: left;
	}*/
	
nav {
	position: absolute;
	width: 1200px;
	height: 50px;
/*	border: 3px solid red;*/
	border-radius: 10px;
	 box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
	/*background-color: #AFEEEE;*/
	left: 40px;
	top: 112px;
	
}
/*
ul.menu {
	width: 100%;
	height: 50px;
	position: relative;
	display: table;
	marign: 0;
	padding: 0;

}
*/
 ul{
	list-style: none; /*убираем маркеры*/
    margin: 0; /*убираем отступы*/
	background: #747273;
	/*height: 50px;*/
	position: absolute;
	font-size: 90%;
	}
  
   ul.vip{
	/*list-style: none; /*убираем маркеры*/
    /*margin: 0; /*убираем отступы*/
	background: none;
	
	
	}
  
  a{
	  text-decoration: none; /*убираем подчеркинвания ссылок*/
	  background: #FAFAD2;
	  padding: 0px 40px;
	  display: block;
	  border-right: 2px solid #677277;
	 line-height: 40px; /*выравнивание меню по вертикали*/
		-moz-transition: all 0.3s 0.01s ease; /*делаем плавный переход*/
		-o-transition: all 0.3s 0.01s ease;
		-webkit-transition: all 0.3s 0.01s ease;
	}
	
	a:hover {
	background: #D43737; /*эффект при наведении*/
	}
	

	
li {
	float: left;
	position: relative;
	}
		
		li > ul {				/*для скрытого меню*/
		/*position: absolute;*/
		top: 42px;
		display: none;
		
		}
		li:hover   ul {  /*скрытая часть выпадающего теперь видна*/
		display: block;
		/*width: 200px;*/
		 line-height: 20px;
		
		
	    }
		
		li:hover  ul  li {
		float: none;
		}
		
		
		
		