body {
		background-image: url(../image/12345.jpg);
		background-size: 50%;
        width:100%;
        height:100%;
		text-align: left;
}
head{
		margin:0;
        padding:0;
        width:100%;
        height:100%;
}


div.logo {
	display: block;
	margin: auto;
	background-color: rgba(255, 255, 224, 0.5);
	width: 80%
}

nav li {
	display: inline-block;

}

 ul{
	list-style: none; /*убираем маркеры*/
    margin: 0; /*убираем отступы*/
	display: block;
	/*background: #7FFF00; /*фон меню*/
	/*height: 50px;*/
	position: absolute;
	font-size: 100%;
	/*border: 4px double black;*/
	/*outline-style: outset;*/
}
nav {
	margin: auto;
	width:  85%;
	height: 80%;
	background-color: rgba(169, 169, 169, 0.7);
	
	}
 ul li {
	position: relative;
	}
 

 
 a{
	  text-decoration: none; /*убираем подчеркинвания ссылок*/
	  background-color: rgba(255, 255, 0, 0.7);
	  padding: 0px 37px; /*отступы от слов до краев в меню кнопки*/
	  display: block;
	  border-right: 2px solid #A9A9A9;
	  line-height: 50px; /*выравнивание меню по вертикали*/
	 -moz-transition: all 0.3s 0.01s ease; /*делаем плавный переход*/
	 -o-transition: all 0.3s 0.01s ease;
	 -webkit-transition: all 0.3s 0.01s ease;
	}

a:hover {
	background: #E0FFFF; /*эффект при наведении*/
	}

	

		
	
	 ul li ul    {				/*для скрытого меню*/
		/*position: absolute;*/
		display: none;
		}
	ul	 li:hover ul   {				/*для скрытого меню*/
		/*position: absolute;*/
		display: block;
		}
		
		
		
		ul	 li:hover ul li ul   {				/*для скрытого меню*/
		/*position: absolute;*/
		display: none;
		}
		
	
	 ul  li ul li ul  {  /*скрытая часть выпадающего теперь видна*/
		display: block;
		/*width: 200px;*/
		 line-height: 0px;
		 white-space: nowrap;
	 }
	
		
		